<html>
  <head>
    <title>Yurt Conditions</title>
    <style>
      .chart { vertical-align: bottom; }
      .chart img
      {
        background-color: green;
        border: 0px;
        padding: 0px;
        margin: -2.5px;
        width: 2px;
      }
      .hot {
        background-color: red !important;
      }
      .cold {
        background-color: blue !important;
      }
    </style>
  </head>
  <body>
    <h1>Current Yurt Conditions</h1>

    <h2> Current Temperature: <%= @current_temp.degrees%>°F<br/>
      Last Read @ <%= @current_temp.created_at.to_formatted_s(:short)%></h2>


    <div class="chart">
      <% @temperatures.each do |temp| %>
        <img height="<%= temp.degrees %>px" class="<%= temp.degrees > 70.0 ? "hot" : (temp.degrees < 60.0 ? "cold" : "")%>">
      <% end %>
    </div>


    <table>
      <thead>
        <tr>
          <th>Degrees</th>
          <th>When</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @temperatures.each do |temperature| %>
          <tr>
            <td><%= temperature.degrees %></td>
            <td><%= temperature.created_at.to_formatted_s(:short) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </body>
</html>
